/* override day number color and size */
.fc-day-number {
    font-size: 1.5em;
    color: #e520e5;
  }
  
  /* override day title color and size */
  .fc-day-header {
    font-size: 1.5em;
    color: #5811e5;
  }